.wrapper section.development .design-development {
    text-align: left;
}
ul li{
    list-style-type: none;
}
.wrapper section.development .design-development p {
    color: #000;

    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}
.wrapper section.development .design-development h2 {
    position: relative;
    color: #455a64;
    font-size: 25px;
    font-weight: 700;
    margin: 0px 0 25px;
    width: 500px;
    width: -moz-fit-content;
    width: -webkit-fit-content;
}